.wrapper[data-v-1f90552a] {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center
}

.inside[data-v-1f90552a] {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    z-index: 0
}

.overlay[data-v-1f90552a], .tracking-layer[data-v-1f90552a] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.camera[data-v-1f90552a], .pause-frame[data-v-1f90552a] {
    display: block;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%
}
