/*CSS*/

@media only screen and (min-width: 800px) {
    body {
        overflow: hidden;
    }

}

@media only screen and (max-width: 800px) {
    body {
        overflow: scroll;
    }

    .engeDingen {
        display: none;
    }

    .fontsize {
        font-size: 32px !important;
    }
}


#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 501px 988px #FFF, 957px 1603px #FFF, 190px 11px #FFF, 1242px 349px #FFF, 428px 175px #FFF, 1335px 1523px #FFF, 398px 1650px #FFF, 764px 1509px #FFF, 1646px 1160px #FFF, 1723px 898px #FFF, 676px 935px #FFF, 1234px 836px #FFF, 816px 1024px #FFF, 47px 1529px #FFF, 1857px 793px #FFF, 910px 668px #FFF, 1438px 161px #FFF, 559px 1816px #FFF, 485px 47px #FFF, 1705px 684px #FFF, 1714px 1597px #FFF, 1336px 1232px #FFF, 1046px 1680px #FFF, 1384px 793px #FFF, 790px 1273px #FFF, 370px 1246px #FFF, 1476px 1565px #FFF, 481px 168px #FFF, 680px 1167px #FFF, 1111px 352px #FFF, 1962px 1912px #FFF, 1817px 773px #FFF, 856px 1089px #FFF, 790px 1391px #FFF, 1870px 1553px #FFF, 1216px 672px #FFF, 184px 890px #FFF, 291px 1266px #FFF, 1060px 1965px #FFF, 171px 1970px #FFF, 691px 844px #FFF, 780px 787px #FFF, 1508px 332px #FFF, 1537px 257px #FFF, 1504px 1799px #FFF, 355px 614px #FFF, 740px 1345px #FFF, 128px 1998px #FFF, 117px 1890px #FFF, 494px 591px #FFF, 341px 1372px #FFF, 625px 185px #FFF, 446px 1566px #FFF, 1829px 1931px #FFF, 798px 88px #FFF, 1490px 1326px #FFF, 979px 498px #FFF, 1896px 1429px #FFF, 479px 1737px #FFF, 632px 271px #FFF, 815px 1669px #FFF, 1409px 1024px #FFF, 805px 1643px #FFF, 1821px 888px #FFF, 1721px 545px #FFF, 1203px 535px #FFF, 1218px 593px #FFF, 1817px 439px #FFF, 440px 1749px #FFF, 1281px 373px #FFF, 1573px 884px #FFF, 306px 1747px #FFF, 1983px 383px #FFF, 523px 1028px #FFF, 432px 1453px #FFF, 1614px 1933px #FFF, 1506px 298px #FFF, 112px 408px #FFF, 1060px 1913px #FFF, 1899px 1967px #FFF, 1545px 1249px #FFF, 939px 578px #FFF, 1265px 337px #FFF, 290px 320px #FFF, 832px 1967px #FFF, 772px 369px #FFF, 1402px 482px #FFF, 1919px 1402px #FFF, 1672px 598px #FFF, 1644px 1723px #FFF, 599px 457px #FFF, 1465px 1601px #FFF, 1720px 1710px #FFF, 1000px 483px #FFF, 554px 1667px #FFF, 989px 1733px #FFF, 1561px 689px #FFF, 633px 1792px #FFF, 356px 1182px #FFF, 805px 1594px #FFF, 1057px 508px #FFF, 1712px 876px #FFF, 853px 972px #FFF, 1795px 1396px #FFF, 1537px 460px #FFF, 1175px 587px #FFF, 500px 1862px #FFF, 723px 1984px #FFF, 84px 1735px #FFF, 1011px 1819px #FFF, 1455px 368px #FFF, 1615px 34px #FFF, 725px 1969px #FFF, 1830px 438px #FFF, 1850px 1812px #FFF, 820px 1435px #FFF, 1122px 1602px #FFF, 1343px 1181px #FFF, 967px 1000px #FFF, 480px 818px #FFF, 100px 888px #FFF, 1249px 1628px #FFF, 816px 199px #FFF, 1176px 136px #FFF, 1960px 1646px #FFF, 963px 1979px #FFF, 170px 670px #FFF, 1525px 1848px #FFF, 912px 1437px #FFF, 839px 196px #FFF, 327px 906px #FFF, 660px 200px #FFF, 531px 1464px #FFF, 1444px 1438px #FFF, 998px 777px #FFF, 1445px 1255px #FFF, 1231px 128px #FFF, 866px 681px #FFF, 1486px 1946px #FFF, 134px 1136px #FFF, 394px 922px #FFF, 1890px 1029px #FFF, 1146px 208px #FFF, 1845px 62px #FFF, 151px 270px #FFF, 1509px 1711px #FFF, 779px 265px #FFF, 941px 835px #FFF, 1767px 862px #FFF, 1982px 525px #FFF, 1748px 1120px #FFF, 1615px 587px #FFF, 166px 1234px #FFF, 816px 456px #FFF, 1922px 1105px #FFF, 1286px 1713px #FFF, 1160px 1309px #FFF, 89px 1469px #FFF, 1254px 421px #FFF, 418px 497px #FFF, 327px 1966px #FFF, 1726px 1427px #FFF, 741px 1609px #FFF, 1735px 373px #FFF, 592px 527px #FFF, 1678px 749px #FFF, 1309px 1536px #FFF, 23px 1115px #FFF, 1935px 1434px #FFF, 292px 315px #FFF, 670px 764px #FFF, 579px 1605px #FFF, 998px 1597px #FFF, 1749px 471px #FFF, 1052px 343px #FFF, 1177px 914px #FFF, 1027px 1360px #FFF, 1499px 734px #FFF, 728px 383px #FFF, 13px 497px #FFF, 1743px 1150px #FFF, 1687px 112px #FFF, 1351px 1130px #FFF, 1727px 1943px #FFF, 1761px 1316px #FFF, 132px 1258px #FFF, 355px 1133px #FFF, 85px 1879px #FFF, 1521px 624px #FFF, 1618px 594px #FFF, 1434px 1259px #FFF, 1567px 595px #FFF, 105px 1587px #FFF, 887px 532px #FFF, 1865px 725px #FFF, 1673px 1287px #FFF, 1305px 1072px #FFF, 177px 1334px #FFF, 1359px 1522px #FFF, 425px 1470px #FFF, 375px 155px #FFF, 485px 1252px #FFF, 1013px 1939px #FFF, 35px 1430px #FFF, 1163px 983px #FFF, 1737px 1020px #FFF, 1558px 1287px #FFF, 220px 582px #FFF, 48px 1668px #FFF, 227px 1843px #FFF, 358px 771px #FFF, 245px 657px #FFF, 1883px 1814px #FFF, 1673px 953px #FFF, 909px 1731px #FFF, 265px 1255px #FFF, 1189px 1847px #FFF, 824px 274px #FFF, 568px 1852px #FFF, 1048px 185px #FFF, 429px 1369px #FFF, 96px 55px #FFF, 799px 364px #FFF, 1093px 607px #FFF, 258px 1075px #FFF, 1215px 1072px #FFF, 1761px 778px #FFF, 1144px 896px #FFF, 563px 1446px #FFF, 1622px 149px #FFF, 1111px 100px #FFF, 927px 720px #FFF, 1271px 560px #FFF, 1648px 1842px #FFF, 987px 1618px #FFF, 685px 1720px #FFF, 1088px 1846px #FFF, 1019px 632px #FFF, 1263px 207px #FFF, 1814px 353px #FFF, 1087px 831px #FFF, 1447px 922px #FFF, 1805px 787px #FFF, 1600px 1489px #FFF, 1789px 1695px #FFF, 241px 111px #FFF, 1875px 993px #FFF, 544px 1001px #FFF, 1147px 1350px #FFF, 1710px 1677px #FFF, 345px 1442px #FFF, 1180px 996px #FFF, 217px 840px #FFF, 1898px 1722px #FFF, 1320px 536px #FFF, 1459px 1789px #FFF, 1921px 462px #FFF, 1214px 572px #FFF, 488px 654px #FFF, 972px 555px #FFF, 183px 1826px #FFF, 1643px 1947px #FFF, 158px 1158px #FFF, 1400px 151px #FFF, 1248px 1807px #FFF, 39px 455px #FFF, 1572px 1426px #FFF, 919px 1115px #FFF, 794px 1865px #FFF, 834px 993px #FFF, 626px 1422px #FFF, 1064px 1336px #FFF, 516px 25px #FFF, 872px 1996px #FFF, 697px 1688px #FFF, 1602px 1431px #FFF, 1751px 1375px #FFF, 1974px 1715px #FFF, 1646px 820px #FFF, 1670px 666px #FFF, 1128px 243px #FFF, 1288px 158px #FFF, 816px 50px #FFF, 81px 1860px #FFF, 448px 1585px #FFF, 816px 1061px #FFF, 1404px 1992px #FFF, 380px 1451px #FFF, 471px 358px #FFF, 237px 1625px #FFF, 494px 313px #FFF, 1961px 940px #FFF, 643px 1673px #FFF, 1420px 1266px #FFF, 1574px 1892px #FFF, 1374px 1086px #FFF, 1001px 1653px #FFF, 1736px 781px #FFF, 398px 1023px #FFF, 275px 1237px #FFF, 1531px 1412px #FFF, 302px 852px #FFF, 744px 724px #FFF, 949px 1611px #FFF, 1256px 853px #FFF, 1680px 672px #FFF, 1878px 173px #FFF, 1401px 1162px #FFF, 1543px 1039px #FFF, 1839px 1619px #FFF, 1227px 1358px #FFF, 995px 1083px #FFF, 1961px 669px #FFF, 873px 787px #FFF, 1989px 908px #FFF, 1662px 926px #FFF, 823px 9px #FFF, 946px 1591px #FFF, 627px 1055px #FFF, 1699px 198px #FFF, 1290px 73px #FFF, 46px 1673px #FFF, 127px 125px #FFF, 1749px 1808px #FFF, 106px 422px #FFF, 1727px 258px #FFF, 1197px 899px #FFF, 51px 128px #FFF, 1952px 960px #FFF, 1446px 1903px #FFF, 1980px 866px #FFF, 18px 463px #FFF, 1772px 1816px #FFF, 1497px 277px #FFF, 1945px 1922px #FFF, 1790px 1148px #FFF, 1449px 363px #FFF, 805px 533px #FFF, 876px 1260px #FFF, 1244px 744px #FFF, 226px 1701px #FFF, 834px 965px #FFF, 1809px 1651px #FFF, 1757px 1088px #FFF, 233px 1378px #FFF, 674px 1251px #FFF, 408px 1107px #FFF, 622px 264px #FFF, 1244px 860px #FFF, 796px 1000px #FFF, 253px 597px #FFF, 1202px 1455px #FFF, 744px 747px #FFF, 244px 665px #FFF, 1044px 1747px #FFF, 440px 592px #FFF, 1271px 1047px #FFF, 316px 450px #FFF, 852px 1629px #FFF, 238px 287px #FFF, 1023px 166px #FFF, 1766px 1381px #FFF, 1084px 883px #FFF, 922px 1276px #FFF, 1156px 1458px #FFF, 501px 1647px #FFF, 980px 694px #FFF, 1491px 664px #FFF, 1426px 1926px #FFF, 493px 476px #FFF, 800px 237px #FFF, 1342px 1065px #FFF, 126px 593px #FFF, 63px 280px #FFF, 421px 1759px #FFF, 349px 1248px #FFF, 723px 666px #FFF, 421px 865px #FFF, 840px 1264px #FFF, 1610px 1224px #FFF, 225px 143px #FFF, 968px 1720px #FFF, 382px 1343px #FFF, 1411px 633px #FFF, 1974px 1242px #FFF, 1722px 246px #FFF, 715px 1024px #FFF, 1243px 976px #FFF, 1706px 1585px #FFF, 1786px 1982px #FFF, 1497px 797px #FFF, 1712px 1396px #FFF, 1251px 1958px #FFF, 1905px 786px #FFF, 606px 1183px #FFF, 1684px 1260px #FFF, 132px 579px #FFF, 1121px 90px #FFF, 653px 432px #FFF, 12px 518px #FFF, 1229px 238px #FFF, 1210px 373px #FFF, 58px 92px #FFF, 911px 1650px #FFF, 444px 919px #FFF, 1845px 1742px #FFF, 800px 1801px #FFF, 674px 606px #FFF, 764px 1632px #FFF, 1500px 1029px #FFF, 598px 1801px #FFF, 1864px 389px #FFF, 455px 1614px #FFF, 885px 113px #FFF, 1454px 923px #FFF, 1302px 1686px #FFF, 486px 1881px #FFF, 1428px 1477px #FFF, 1249px 1742px #FFF, 1259px 22px #FFF, 852px 685px #FFF, 546px 183px #FFF, 1997px 1438px #FFF, 1233px 871px #FFF, 1459px 255px #FFF, 161px 47px #FFF, 492px 831px #FFF, 1174px 365px #FFF, 852px 332px #FFF, 1749px 973px #FFF, 1005px 1289px #FFF, 990px 479px #FFF, 731px 1574px #FFF, 447px 1333px #FFF, 1968px 1801px #FFF, 1847px 366px #FFF, 834px 1256px #FFF, 1599px 1007px #FFF, 1590px 221px #FFF, 1828px 1763px #FFF, 408px 663px #FFF, 42px 946px #FFF, 1830px 31px #FFF, 547px 260px #FFF, 789px 1364px #FFF, 1807px 742px #FFF, 36px 115px #FFF, 1950px 676px #FFF, 238px 1821px #FFF, 193px 612px #FFF, 1833px 531px #FFF, 1201px 258px #FFF, 146px 159px #FFF, 1317px 1002px #FFF, 1817px 1808px #FFF, 1051px 1622px #FFF, 140px 1663px #FFF, 1142px 888px #FFF, 529px 775px #FFF, 1379px 1585px #FFF, 1182px 667px #FFF, 868px 1464px #FFF, 1798px 1802px #FFF, 69px 381px #FFF, 1664px 1923px #FFF, 1493px 1596px #FFF, 937px 1381px #FFF, 1851px 1217px #FFF, 1328px 583px #FFF, 1792px 775px #FFF, 500px 735px #FFF, 1619px 953px #FFF, 1578px 450px #FFF, 1793px 1719px #FFF, 78px 1107px #FFF, 680px 108px #FFF, 1162px 1715px #FFF, 1287px 1925px #FFF, 1541px 299px #FFF, 1804px 1970px #FFF, 1395px 718px #FFF, 1814px 1155px #FFF, 1815px 1035px #FFF, 1873px 1925px #FFF, 597px 1153px #FFF, 1174px 1551px #FFF, 652px 1771px #FFF, 225px 1625px #FFF, 1377px 319px #FFF, 1516px 220px #FFF, 41px 1968px #FFF, 914px 733px #FFF, 1608px 1445px #FFF, 298px 1756px #FFF, 1824px 873px #FFF, 1634px 150px #FFF, 1388px 323px #FFF, 1218px 1862px #FFF, 1576px 1399px #FFF, 1272px 1553px #FFF, 1px 1283px #FFF, 1037px 589px #FFF, 1962px 939px #FFF, 811px 959px #FFF, 1903px 1067px #FFF, 453px 729px #FFF, 1680px 865px #FFF, 264px 80px #FFF, 1053px 1068px #FFF, 450px 488px #FFF, 1104px 437px #FFF, 1661px 1524px #FFF, 86px 1332px #FFF, 181px 1241px #FFF, 1474px 881px #FFF, 1545px 325px #FFF, 1071px 473px #FFF, 1304px 1265px #FFF, 229px 1199px #FFF, 228px 183px #FFF, 91px 226px #FFF, 1017px 1127px #FFF, 1467px 1992px #FFF, 1714px 1112px #FFF, 239px 158px #FFF, 176px 712px #FFF, 1091px 1079px #FFF, 930px 1920px #FFF, 1175px 688px #FFF, 91px 653px #FFF, 524px 1204px #FFF, 485px 1293px #FFF, 675px 1120px #FFF, 265px 727px #FFF, 680px 318px #FFF, 380px 1930px #FFF, 1958px 1602px #FFF, 153px 1447px #FFF, 347px 819px #FFF, 651px 903px #FFF, 506px 308px #FFF, 1171px 1981px #FFF, 665px 1709px #FFF, 1360px 516px #FFF, 1365px 1277px #FFF, 1463px 816px #FFF, 666px 320px #FFF, 744px 1088px #FFF, 1109px 1503px #FFF, 1566px 257px #FFF, 792px 1764px #FFF, 1930px 1168px #FFF, 930px 52px #FFF, 805px 1211px #FFF, 1198px 54px #FFF, 193px 983px #FFF, 777px 837px #FFF, 1362px 1373px #FFF, 1072px 547px #FFF, 1250px 1285px #FFF, 603px 574px #FFF, 1140px 1343px #FFF, 1794px 1231px #FFF, 1296px 552px #FFF, 1148px 1513px #FFF, 1290px 733px #FFF, 853px 180px #FFF, 1583px 1148px #FFF, 645px 64px #FFF, 436px 1759px #FFF, 244px 64px #FFF, 1479px 1782px #FFF, 1676px 637px #FFF, 240px 302px #FFF, 1610px 684px #FFF, 112px 868px #FFF, 941px 1585px #FFF, 802px 1253px #FFF, 889px 1443px #FFF, 373px 75px #FFF, 1572px 344px #FFF, 799px 940px #FFF, 535px 1215px #FFF, 789px 1188px #FFF, 1423px 1493px #FFF, 1480px 1971px #FFF, 693px 1548px #FFF, 1329px 895px #FFF, 1087px 1044px #FFF, 254px 102px #FFF, 1068px 865px #FFF, 121px 242px #FFF, 1312px 1246px #FFF, 678px 205px #FFF, 1718px 208px #FFF, 801px 1141px #FFF, 1082px 1909px #FFF, 1039px 399px #FFF, 1597px 1119px #FFF, 1635px 1853px #FFF, 999px 1129px #FFF, 1613px 480px #FFF, 1184px 231px #FFF, 1037px 1767px #FFF, 1767px 440px #FFF, 1982px 1256px #FFF, 685px 131px #FFF, 1327px 402px #FFF, 1940px 1482px #FFF, 721px 1559px #FFF, 932px 1513px #FFF, 1823px 852px #FFF, 530px 237px #FFF, 1391px 38px #FFF, 587px 788px #FFF, 1787px 1114px #FFF, 1068px 1058px #FFF, 168px 583px #FFF, 1227px 1008px #FFF, 1087px 1905px #FFF, 1409px 1528px #FFF, 1299px 807px #FFF, 62px 349px #FFF, 1766px 1615px #FFF, 1897px 8px #FFF, 1974px 1238px #FFF, 950px 1726px #FFF, 671px 93px #FFF, 1623px 453px #FFF, 14px 609px #FFF, 1379px 501px #FFF, 1407px 1159px #FFF, 1482px 1149px #FFF, 1110px 768px #FFF, 63px 1746px #FFF, 704px 94px #FFF, 515px 1119px #FFF, 1740px 1084px #FFF, 281px 1646px #FFF, 886px 1717px #FFF, 1168px 1696px #FFF, 905px 1014px #FFF, 1229px 285px #FFF, 586px 904px #FFF, 351px 1208px #FFF, 1996px 352px #FFF, 821px 1623px #FFF, 8px 162px #FFF, 1578px 779px #FFF, 45px 243px #FFF, 434px 1807px #FFF, 984px 1143px #FFF, 1544px 747px #FFF, 1649px 818px #FFF, 410px 1572px #FFF, 1068px 1260px #FFF, 1758px 1468px #FFF, 1367px 1766px #FFF, 1512px 853px #FFF, 1107px 1561px #FFF, 459px 873px #FFF, 588px 1425px #FFF, 230px 806px #FFF, 74px 1409px #FFF, 1272px 1341px #FFF, 900px 667px #FFF, 1655px 671px #FFF, 1156px 284px #FFF, 370px 1836px #FFF, 1428px 1823px #FFF, 1908px 52px #FFF, 1683px 1726px #FFF, 1982px 1857px #FFF, 455px 662px #FFF, 1575px 1221px #FFF, 592px 79px #FFF, 207px 1498px #FFF, 938px 1423px #FFF, 1521px 1070px #FFF, 563px 611px #FFF, 403px 345px #FFF, 159px 1735px #FFF, 1862px 433px #FFF, 58px 1717px #FFF, 1413px 1613px #FFF, 1964px 351px #FFF, 1731px 1712px #FFF, 330px 1261px #FFF, 221px 1444px #FFF, 498px 1236px #FFF, 1516px 1468px #FFF, 856px 1866px #FFF, 302px 1192px #FFF, 671px 1897px #FFF, 1941px 381px #FFF, 448px 1667px #FFF, 223px 1060px #FFF, 289px 1545px #FFF, 1984px 592px #FFF, 1595px 83px #FFF;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 501px 988px #FFF, 957px 1603px #FFF, 190px 11px #FFF, 1242px 349px #FFF, 428px 175px #FFF, 1335px 1523px #FFF, 398px 1650px #FFF, 764px 1509px #FFF, 1646px 1160px #FFF, 1723px 898px #FFF, 676px 935px #FFF, 1234px 836px #FFF, 816px 1024px #FFF, 47px 1529px #FFF, 1857px 793px #FFF, 910px 668px #FFF, 1438px 161px #FFF, 559px 1816px #FFF, 485px 47px #FFF, 1705px 684px #FFF, 1714px 1597px #FFF, 1336px 1232px #FFF, 1046px 1680px #FFF, 1384px 793px #FFF, 790px 1273px #FFF, 370px 1246px #FFF, 1476px 1565px #FFF, 481px 168px #FFF, 680px 1167px #FFF, 1111px 352px #FFF, 1962px 1912px #FFF, 1817px 773px #FFF, 856px 1089px #FFF, 790px 1391px #FFF, 1870px 1553px #FFF, 1216px 672px #FFF, 184px 890px #FFF, 291px 1266px #FFF, 1060px 1965px #FFF, 171px 1970px #FFF, 691px 844px #FFF, 780px 787px #FFF, 1508px 332px #FFF, 1537px 257px #FFF, 1504px 1799px #FFF, 355px 614px #FFF, 740px 1345px #FFF, 128px 1998px #FFF, 117px 1890px #FFF, 494px 591px #FFF, 341px 1372px #FFF, 625px 185px #FFF, 446px 1566px #FFF, 1829px 1931px #FFF, 798px 88px #FFF, 1490px 1326px #FFF, 979px 498px #FFF, 1896px 1429px #FFF, 479px 1737px #FFF, 632px 271px #FFF, 815px 1669px #FFF, 1409px 1024px #FFF, 805px 1643px #FFF, 1821px 888px #FFF, 1721px 545px #FFF, 1203px 535px #FFF, 1218px 593px #FFF, 1817px 439px #FFF, 440px 1749px #FFF, 1281px 373px #FFF, 1573px 884px #FFF, 306px 1747px #FFF, 1983px 383px #FFF, 523px 1028px #FFF, 432px 1453px #FFF, 1614px 1933px #FFF, 1506px 298px #FFF, 112px 408px #FFF, 1060px 1913px #FFF, 1899px 1967px #FFF, 1545px 1249px #FFF, 939px 578px #FFF, 1265px 337px #FFF, 290px 320px #FFF, 832px 1967px #FFF, 772px 369px #FFF, 1402px 482px #FFF, 1919px 1402px #FFF, 1672px 598px #FFF, 1644px 1723px #FFF, 599px 457px #FFF, 1465px 1601px #FFF, 1720px 1710px #FFF, 1000px 483px #FFF, 554px 1667px #FFF, 989px 1733px #FFF, 1561px 689px #FFF, 633px 1792px #FFF, 356px 1182px #FFF, 805px 1594px #FFF, 1057px 508px #FFF, 1712px 876px #FFF, 853px 972px #FFF, 1795px 1396px #FFF, 1537px 460px #FFF, 1175px 587px #FFF, 500px 1862px #FFF, 723px 1984px #FFF, 84px 1735px #FFF, 1011px 1819px #FFF, 1455px 368px #FFF, 1615px 34px #FFF, 725px 1969px #FFF, 1830px 438px #FFF, 1850px 1812px #FFF, 820px 1435px #FFF, 1122px 1602px #FFF, 1343px 1181px #FFF, 967px 1000px #FFF, 480px 818px #FFF, 100px 888px #FFF, 1249px 1628px #FFF, 816px 199px #FFF, 1176px 136px #FFF, 1960px 1646px #FFF, 963px 1979px #FFF, 170px 670px #FFF, 1525px 1848px #FFF, 912px 1437px #FFF, 839px 196px #FFF, 327px 906px #FFF, 660px 200px #FFF, 531px 1464px #FFF, 1444px 1438px #FFF, 998px 777px #FFF, 1445px 1255px #FFF, 1231px 128px #FFF, 866px 681px #FFF, 1486px 1946px #FFF, 134px 1136px #FFF, 394px 922px #FFF, 1890px 1029px #FFF, 1146px 208px #FFF, 1845px 62px #FFF, 151px 270px #FFF, 1509px 1711px #FFF, 779px 265px #FFF, 941px 835px #FFF, 1767px 862px #FFF, 1982px 525px #FFF, 1748px 1120px #FFF, 1615px 587px #FFF, 166px 1234px #FFF, 816px 456px #FFF, 1922px 1105px #FFF, 1286px 1713px #FFF, 1160px 1309px #FFF, 89px 1469px #FFF, 1254px 421px #FFF, 418px 497px #FFF, 327px 1966px #FFF, 1726px 1427px #FFF, 741px 1609px #FFF, 1735px 373px #FFF, 592px 527px #FFF, 1678px 749px #FFF, 1309px 1536px #FFF, 23px 1115px #FFF, 1935px 1434px #FFF, 292px 315px #FFF, 670px 764px #FFF, 579px 1605px #FFF, 998px 1597px #FFF, 1749px 471px #FFF, 1052px 343px #FFF, 1177px 914px #FFF, 1027px 1360px #FFF, 1499px 734px #FFF, 728px 383px #FFF, 13px 497px #FFF, 1743px 1150px #FFF, 1687px 112px #FFF, 1351px 1130px #FFF, 1727px 1943px #FFF, 1761px 1316px #FFF, 132px 1258px #FFF, 355px 1133px #FFF, 85px 1879px #FFF, 1521px 624px #FFF, 1618px 594px #FFF, 1434px 1259px #FFF, 1567px 595px #FFF, 105px 1587px #FFF, 887px 532px #FFF, 1865px 725px #FFF, 1673px 1287px #FFF, 1305px 1072px #FFF, 177px 1334px #FFF, 1359px 1522px #FFF, 425px 1470px #FFF, 375px 155px #FFF, 485px 1252px #FFF, 1013px 1939px #FFF, 35px 1430px #FFF, 1163px 983px #FFF, 1737px 1020px #FFF, 1558px 1287px #FFF, 220px 582px #FFF, 48px 1668px #FFF, 227px 1843px #FFF, 358px 771px #FFF, 245px 657px #FFF, 1883px 1814px #FFF, 1673px 953px #FFF, 909px 1731px #FFF, 265px 1255px #FFF, 1189px 1847px #FFF, 824px 274px #FFF, 568px 1852px #FFF, 1048px 185px #FFF, 429px 1369px #FFF, 96px 55px #FFF, 799px 364px #FFF, 1093px 607px #FFF, 258px 1075px #FFF, 1215px 1072px #FFF, 1761px 778px #FFF, 1144px 896px #FFF, 563px 1446px #FFF, 1622px 149px #FFF, 1111px 100px #FFF, 927px 720px #FFF, 1271px 560px #FFF, 1648px 1842px #FFF, 987px 1618px #FFF, 685px 1720px #FFF, 1088px 1846px #FFF, 1019px 632px #FFF, 1263px 207px #FFF, 1814px 353px #FFF, 1087px 831px #FFF, 1447px 922px #FFF, 1805px 787px #FFF, 1600px 1489px #FFF, 1789px 1695px #FFF, 241px 111px #FFF, 1875px 993px #FFF, 544px 1001px #FFF, 1147px 1350px #FFF, 1710px 1677px #FFF, 345px 1442px #FFF, 1180px 996px #FFF, 217px 840px #FFF, 1898px 1722px #FFF, 1320px 536px #FFF, 1459px 1789px #FFF, 1921px 462px #FFF, 1214px 572px #FFF, 488px 654px #FFF, 972px 555px #FFF, 183px 1826px #FFF, 1643px 1947px #FFF, 158px 1158px #FFF, 1400px 151px #FFF, 1248px 1807px #FFF, 39px 455px #FFF, 1572px 1426px #FFF, 919px 1115px #FFF, 794px 1865px #FFF, 834px 993px #FFF, 626px 1422px #FFF, 1064px 1336px #FFF, 516px 25px #FFF, 872px 1996px #FFF, 697px 1688px #FFF, 1602px 1431px #FFF, 1751px 1375px #FFF, 1974px 1715px #FFF, 1646px 820px #FFF, 1670px 666px #FFF, 1128px 243px #FFF, 1288px 158px #FFF, 816px 50px #FFF, 81px 1860px #FFF, 448px 1585px #FFF, 816px 1061px #FFF, 1404px 1992px #FFF, 380px 1451px #FFF, 471px 358px #FFF, 237px 1625px #FFF, 494px 313px #FFF, 1961px 940px #FFF, 643px 1673px #FFF, 1420px 1266px #FFF, 1574px 1892px #FFF, 1374px 1086px #FFF, 1001px 1653px #FFF, 1736px 781px #FFF, 398px 1023px #FFF, 275px 1237px #FFF, 1531px 1412px #FFF, 302px 852px #FFF, 744px 724px #FFF, 949px 1611px #FFF, 1256px 853px #FFF, 1680px 672px #FFF, 1878px 173px #FFF, 1401px 1162px #FFF, 1543px 1039px #FFF, 1839px 1619px #FFF, 1227px 1358px #FFF, 995px 1083px #FFF, 1961px 669px #FFF, 873px 787px #FFF, 1989px 908px #FFF, 1662px 926px #FFF, 823px 9px #FFF, 946px 1591px #FFF, 627px 1055px #FFF, 1699px 198px #FFF, 1290px 73px #FFF, 46px 1673px #FFF, 127px 125px #FFF, 1749px 1808px #FFF, 106px 422px #FFF, 1727px 258px #FFF, 1197px 899px #FFF, 51px 128px #FFF, 1952px 960px #FFF, 1446px 1903px #FFF, 1980px 866px #FFF, 18px 463px #FFF, 1772px 1816px #FFF, 1497px 277px #FFF, 1945px 1922px #FFF, 1790px 1148px #FFF, 1449px 363px #FFF, 805px 533px #FFF, 876px 1260px #FFF, 1244px 744px #FFF, 226px 1701px #FFF, 834px 965px #FFF, 1809px 1651px #FFF, 1757px 1088px #FFF, 233px 1378px #FFF, 674px 1251px #FFF, 408px 1107px #FFF, 622px 264px #FFF, 1244px 860px #FFF, 796px 1000px #FFF, 253px 597px #FFF, 1202px 1455px #FFF, 744px 747px #FFF, 244px 665px #FFF, 1044px 1747px #FFF, 440px 592px #FFF, 1271px 1047px #FFF, 316px 450px #FFF, 852px 1629px #FFF, 238px 287px #FFF, 1023px 166px #FFF, 1766px 1381px #FFF, 1084px 883px #FFF, 922px 1276px #FFF, 1156px 1458px #FFF, 501px 1647px #FFF, 980px 694px #FFF, 1491px 664px #FFF, 1426px 1926px #FFF, 493px 476px #FFF, 800px 237px #FFF, 1342px 1065px #FFF, 126px 593px #FFF, 63px 280px #FFF, 421px 1759px #FFF, 349px 1248px #FFF, 723px 666px #FFF, 421px 865px #FFF, 840px 1264px #FFF, 1610px 1224px #FFF, 225px 143px #FFF, 968px 1720px #FFF, 382px 1343px #FFF, 1411px 633px #FFF, 1974px 1242px #FFF, 1722px 246px #FFF, 715px 1024px #FFF, 1243px 976px #FFF, 1706px 1585px #FFF, 1786px 1982px #FFF, 1497px 797px #FFF, 1712px 1396px #FFF, 1251px 1958px #FFF, 1905px 786px #FFF, 606px 1183px #FFF, 1684px 1260px #FFF, 132px 579px #FFF, 1121px 90px #FFF, 653px 432px #FFF, 12px 518px #FFF, 1229px 238px #FFF, 1210px 373px #FFF, 58px 92px #FFF, 911px 1650px #FFF, 444px 919px #FFF, 1845px 1742px #FFF, 800px 1801px #FFF, 674px 606px #FFF, 764px 1632px #FFF, 1500px 1029px #FFF, 598px 1801px #FFF, 1864px 389px #FFF, 455px 1614px #FFF, 885px 113px #FFF, 1454px 923px #FFF, 1302px 1686px #FFF, 486px 1881px #FFF, 1428px 1477px #FFF, 1249px 1742px #FFF, 1259px 22px #FFF, 852px 685px #FFF, 546px 183px #FFF, 1997px 1438px #FFF, 1233px 871px #FFF, 1459px 255px #FFF, 161px 47px #FFF, 492px 831px #FFF, 1174px 365px #FFF, 852px 332px #FFF, 1749px 973px #FFF, 1005px 1289px #FFF, 990px 479px #FFF, 731px 1574px #FFF, 447px 1333px #FFF, 1968px 1801px #FFF, 1847px 366px #FFF, 834px 1256px #FFF, 1599px 1007px #FFF, 1590px 221px #FFF, 1828px 1763px #FFF, 408px 663px #FFF, 42px 946px #FFF, 1830px 31px #FFF, 547px 260px #FFF, 789px 1364px #FFF, 1807px 742px #FFF, 36px 115px #FFF, 1950px 676px #FFF, 238px 1821px #FFF, 193px 612px #FFF, 1833px 531px #FFF, 1201px 258px #FFF, 146px 159px #FFF, 1317px 1002px #FFF, 1817px 1808px #FFF, 1051px 1622px #FFF, 140px 1663px #FFF, 1142px 888px #FFF, 529px 775px #FFF, 1379px 1585px #FFF, 1182px 667px #FFF, 868px 1464px #FFF, 1798px 1802px #FFF, 69px 381px #FFF, 1664px 1923px #FFF, 1493px 1596px #FFF, 937px 1381px #FFF, 1851px 1217px #FFF, 1328px 583px #FFF, 1792px 775px #FFF, 500px 735px #FFF, 1619px 953px #FFF, 1578px 450px #FFF, 1793px 1719px #FFF, 78px 1107px #FFF, 680px 108px #FFF, 1162px 1715px #FFF, 1287px 1925px #FFF, 1541px 299px #FFF, 1804px 1970px #FFF, 1395px 718px #FFF, 1814px 1155px #FFF, 1815px 1035px #FFF, 1873px 1925px #FFF, 597px 1153px #FFF, 1174px 1551px #FFF, 652px 1771px #FFF, 225px 1625px #FFF, 1377px 319px #FFF, 1516px 220px #FFF, 41px 1968px #FFF, 914px 733px #FFF, 1608px 1445px #FFF, 298px 1756px #FFF, 1824px 873px #FFF, 1634px 150px #FFF, 1388px 323px #FFF, 1218px 1862px #FFF, 1576px 1399px #FFF, 1272px 1553px #FFF, 1px 1283px #FFF, 1037px 589px #FFF, 1962px 939px #FFF, 811px 959px #FFF, 1903px 1067px #FFF, 453px 729px #FFF, 1680px 865px #FFF, 264px 80px #FFF, 1053px 1068px #FFF, 450px 488px #FFF, 1104px 437px #FFF, 1661px 1524px #FFF, 86px 1332px #FFF, 181px 1241px #FFF, 1474px 881px #FFF, 1545px 325px #FFF, 1071px 473px #FFF, 1304px 1265px #FFF, 229px 1199px #FFF, 228px 183px #FFF, 91px 226px #FFF, 1017px 1127px #FFF, 1467px 1992px #FFF, 1714px 1112px #FFF, 239px 158px #FFF, 176px 712px #FFF, 1091px 1079px #FFF, 930px 1920px #FFF, 1175px 688px #FFF, 91px 653px #FFF, 524px 1204px #FFF, 485px 1293px #FFF, 675px 1120px #FFF, 265px 727px #FFF, 680px 318px #FFF, 380px 1930px #FFF, 1958px 1602px #FFF, 153px 1447px #FFF, 347px 819px #FFF, 651px 903px #FFF, 506px 308px #FFF, 1171px 1981px #FFF, 665px 1709px #FFF, 1360px 516px #FFF, 1365px 1277px #FFF, 1463px 816px #FFF, 666px 320px #FFF, 744px 1088px #FFF, 1109px 1503px #FFF, 1566px 257px #FFF, 792px 1764px #FFF, 1930px 1168px #FFF, 930px 52px #FFF, 805px 1211px #FFF, 1198px 54px #FFF, 193px 983px #FFF, 777px 837px #FFF, 1362px 1373px #FFF, 1072px 547px #FFF, 1250px 1285px #FFF, 603px 574px #FFF, 1140px 1343px #FFF, 1794px 1231px #FFF, 1296px 552px #FFF, 1148px 1513px #FFF, 1290px 733px #FFF, 853px 180px #FFF, 1583px 1148px #FFF, 645px 64px #FFF, 436px 1759px #FFF, 244px 64px #FFF, 1479px 1782px #FFF, 1676px 637px #FFF, 240px 302px #FFF, 1610px 684px #FFF, 112px 868px #FFF, 941px 1585px #FFF, 802px 1253px #FFF, 889px 1443px #FFF, 373px 75px #FFF, 1572px 344px #FFF, 799px 940px #FFF, 535px 1215px #FFF, 789px 1188px #FFF, 1423px 1493px #FFF, 1480px 1971px #FFF, 693px 1548px #FFF, 1329px 895px #FFF, 1087px 1044px #FFF, 254px 102px #FFF, 1068px 865px #FFF, 121px 242px #FFF, 1312px 1246px #FFF, 678px 205px #FFF, 1718px 208px #FFF, 801px 1141px #FFF, 1082px 1909px #FFF, 1039px 399px #FFF, 1597px 1119px #FFF, 1635px 1853px #FFF, 999px 1129px #FFF, 1613px 480px #FFF, 1184px 231px #FFF, 1037px 1767px #FFF, 1767px 440px #FFF, 1982px 1256px #FFF, 685px 131px #FFF, 1327px 402px #FFF, 1940px 1482px #FFF, 721px 1559px #FFF, 932px 1513px #FFF, 1823px 852px #FFF, 530px 237px #FFF, 1391px 38px #FFF, 587px 788px #FFF, 1787px 1114px #FFF, 1068px 1058px #FFF, 168px 583px #FFF, 1227px 1008px #FFF, 1087px 1905px #FFF, 1409px 1528px #FFF, 1299px 807px #FFF, 62px 349px #FFF, 1766px 1615px #FFF, 1897px 8px #FFF, 1974px 1238px #FFF, 950px 1726px #FFF, 671px 93px #FFF, 1623px 453px #FFF, 14px 609px #FFF, 1379px 501px #FFF, 1407px 1159px #FFF, 1482px 1149px #FFF, 1110px 768px #FFF, 63px 1746px #FFF, 704px 94px #FFF, 515px 1119px #FFF, 1740px 1084px #FFF, 281px 1646px #FFF, 886px 1717px #FFF, 1168px 1696px #FFF, 905px 1014px #FFF, 1229px 285px #FFF, 586px 904px #FFF, 351px 1208px #FFF, 1996px 352px #FFF, 821px 1623px #FFF, 8px 162px #FFF, 1578px 779px #FFF, 45px 243px #FFF, 434px 1807px #FFF, 984px 1143px #FFF, 1544px 747px #FFF, 1649px 818px #FFF, 410px 1572px #FFF, 1068px 1260px #FFF, 1758px 1468px #FFF, 1367px 1766px #FFF, 1512px 853px #FFF, 1107px 1561px #FFF, 459px 873px #FFF, 588px 1425px #FFF, 230px 806px #FFF, 74px 1409px #FFF, 1272px 1341px #FFF, 900px 667px #FFF, 1655px 671px #FFF, 1156px 284px #FFF, 370px 1836px #FFF, 1428px 1823px #FFF, 1908px 52px #FFF, 1683px 1726px #FFF, 1982px 1857px #FFF, 455px 662px #FFF, 1575px 1221px #FFF, 592px 79px #FFF, 207px 1498px #FFF, 938px 1423px #FFF, 1521px 1070px #FFF, 563px 611px #FFF, 403px 345px #FFF, 159px 1735px #FFF, 1862px 433px #FFF, 58px 1717px #FFF, 1413px 1613px #FFF, 1964px 351px #FFF, 1731px 1712px #FFF, 330px 1261px #FFF, 221px 1444px #FFF, 498px 1236px #FFF, 1516px 1468px #FFF, 856px 1866px #FFF, 302px 1192px #FFF, 671px 1897px #FFF, 1941px 381px #FFF, 448px 1667px #FFF, 223px 1060px #FFF, 289px 1545px #FFF, 1984px 592px #FFF, 1595px 83px #FFF;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1575px 593px #FFF, 884px 1983px #FFF, 761px 783px #FFF, 429px 310px #FFF, 536px 1628px #FFF, 1924px 1168px #FFF, 550px 789px #FFF, 1721px 560px #FFF, 1197px 1852px #FFF, 1842px 906px #FFF, 1561px 750px #FFF, 1422px 207px #FFF, 617px 844px #FFF, 806px 1309px #FFF, 710px 765px #FFF, 357px 406px #FFF, 1189px 1699px #FFF, 37px 1055px #FFF, 697px 470px #FFF, 1896px 1809px #FFF, 381px 1319px #FFF, 186px 786px #FFF, 1739px 379px #FFF, 619px 130px #FFF, 156px 1777px #FFF, 394px 1900px #FFF, 1615px 531px #FFF, 167px 1785px #FFF, 666px 1018px #FFF, 876px 86px #FFF, 747px 1976px #FFF, 228px 1090px #FFF, 1910px 347px #FFF, 842px 668px #FFF, 26px 977px #FFF, 1913px 1089px #FFF, 1520px 205px #FFF, 1007px 231px #FFF, 752px 1249px #FFF, 504px 1148px #FFF, 808px 1788px #FFF, 1575px 276px #FFF, 581px 216px #FFF, 1077px 1814px #FFF, 876px 1324px #FFF, 1369px 1323px #FFF, 1264px 1412px #FFF, 704px 1258px #FFF, 1511px 1100px #FFF, 1142px 580px #FFF, 1783px 321px #FFF, 1200px 1810px #FFF, 491px 706px #FFF, 1947px 1738px #FFF, 1887px 1250px #FFF, 1541px 1697px #FFF, 339px 1920px #FFF, 846px 1001px #FFF, 104px 1048px #FFF, 1244px 720px #FFF, 1012px 1839px #FFF, 792px 1899px #FFF, 1385px 1678px #FFF, 1033px 1263px #FFF, 441px 1187px #FFF, 1312px 1073px #FFF, 1726px 1353px #FFF, 174px 722px #FFF, 1272px 1502px #FFF, 928px 1906px #FFF, 1200px 1769px #FFF, 414px 1198px #FFF, 324px 759px #FFF, 1198px 487px #FFF, 606px 943px #FFF, 713px 1813px #FFF, 1192px 1884px #FFF, 1387px 112px #FFF, 1272px 538px #FFF, 1415px 1266px #FFF, 611px 1684px #FFF, 1076px 14px #FFF, 1286px 1322px #FFF, 211px 1335px #FFF, 1084px 160px #FFF, 329px 471px #FFF, 1095px 1844px #FFF, 1720px 659px #FFF, 1654px 980px #FFF, 1910px 645px #FFF, 928px 728px #FFF, 255px 89px #FFF, 1429px 1146px #FFF, 1765px 659px #FFF, 1983px 646px #FFF, 1262px 579px #FFF, 185px 1426px #FFF, 783px 183px #FFF, 1612px 19px #FFF, 750px 1215px #FFF, 1705px 1311px #FFF, 1645px 760px #FFF, 468px 1454px #FFF, 1123px 755px #FFF, 1270px 719px #FFF, 237px 447px #FFF, 1198px 1255px #FFF, 1056px 894px #FFF, 1026px 1040px #FFF, 605px 1108px #FFF, 1189px 1557px #FFF, 1568px 1288px #FFF, 1892px 1805px #FFF, 1145px 907px #FFF, 1701px 725px #FFF, 153px 1631px #FFF, 965px 1019px #FFF, 823px 1941px #FFF, 354px 1681px #FFF, 1264px 92px #FFF, 309px 1854px #FFF, 1940px 230px #FFF, 3px 645px #FFF, 177px 1588px #FFF, 1823px 916px #FFF, 975px 1790px #FFF, 834px 1708px #FFF, 728px 412px #FFF, 369px 1687px #FFF, 950px 1940px #FFF, 1279px 972px #FFF, 267px 530px #FFF, 34px 1600px #FFF, 839px 654px #FFF, 156px 1373px #FFF, 1624px 1276px #FFF, 1010px 520px #FFF, 285px 519px #FFF, 921px 1187px #FFF, 1874px 1807px #FFF, 13px 531px #FFF, 721px 429px #FFF, 1885px 46px #FFF, 110px 1242px #FFF, 1236px 1543px #FFF, 1141px 563px #FFF, 1169px 172px #FFF, 1725px 1989px #FFF, 1365px 1891px #FFF, 325px 4px #FFF, 1979px 1025px #FFF, 1270px 1265px #FFF, 474px 1427px #FFF, 1282px 1446px #FFF, 1426px 1577px #FFF, 357px 1592px #FFF, 1132px 1337px #FFF, 246px 494px #FFF, 807px 542px #FFF, 629px 674px #FFF, 1960px 639px #FFF, 576px 182px #FFF, 235px 212px #FFF, 225px 488px #FFF, 1028px 219px #FFF, 1423px 780px #FFF, 268px 995px #FFF, 1081px 1826px #FFF, 1884px 251px #FFF, 956px 475px #FFF, 1045px 492px #FFF, 544px 702px #FFF, 888px 1090px #FFF, 1004px 1647px #FFF, 927px 1830px #FFF, 713px 1983px #FFF, 1519px 1761px #FFF, 435px 1986px #FFF, 311px 1247px #FFF, 235px 1746px #FFF, 941px 771px #FFF, 1814px 1369px #FFF, 250px 1453px #FFF, 27px 363px #FFF, 499px 689px #FFF, 567px 1879px #FFF, 693px 1349px #FFF, 1193px 222px #FFF, 1801px 1237px #FFF, 384px 1514px #FFF, 1138px 409px #FFF, 994px 424px #FFF, 1588px 426px #FFF, 452px 1409px #FFF, 574px 1676px #FFF, 240px 1490px #FFF, 275px 1165px #FFF, 1801px 79px #FFF, 1267px 47px #FFF, 1114px 918px #FFF;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1575px 593px #FFF, 884px 1983px #FFF, 761px 783px #FFF, 429px 310px #FFF, 536px 1628px #FFF, 1924px 1168px #FFF, 550px 789px #FFF, 1721px 560px #FFF, 1197px 1852px #FFF, 1842px 906px #FFF, 1561px 750px #FFF, 1422px 207px #FFF, 617px 844px #FFF, 806px 1309px #FFF, 710px 765px #FFF, 357px 406px #FFF, 1189px 1699px #FFF, 37px 1055px #FFF, 697px 470px #FFF, 1896px 1809px #FFF, 381px 1319px #FFF, 186px 786px #FFF, 1739px 379px #FFF, 619px 130px #FFF, 156px 1777px #FFF, 394px 1900px #FFF, 1615px 531px #FFF, 167px 1785px #FFF, 666px 1018px #FFF, 876px 86px #FFF, 747px 1976px #FFF, 228px 1090px #FFF, 1910px 347px #FFF, 842px 668px #FFF, 26px 977px #FFF, 1913px 1089px #FFF, 1520px 205px #FFF, 1007px 231px #FFF, 752px 1249px #FFF, 504px 1148px #FFF, 808px 1788px #FFF, 1575px 276px #FFF, 581px 216px #FFF, 1077px 1814px #FFF, 876px 1324px #FFF, 1369px 1323px #FFF, 1264px 1412px #FFF, 704px 1258px #FFF, 1511px 1100px #FFF, 1142px 580px #FFF, 1783px 321px #FFF, 1200px 1810px #FFF, 491px 706px #FFF, 1947px 1738px #FFF, 1887px 1250px #FFF, 1541px 1697px #FFF, 339px 1920px #FFF, 846px 1001px #FFF, 104px 1048px #FFF, 1244px 720px #FFF, 1012px 1839px #FFF, 792px 1899px #FFF, 1385px 1678px #FFF, 1033px 1263px #FFF, 441px 1187px #FFF, 1312px 1073px #FFF, 1726px 1353px #FFF, 174px 722px #FFF, 1272px 1502px #FFF, 928px 1906px #FFF, 1200px 1769px #FFF, 414px 1198px #FFF, 324px 759px #FFF, 1198px 487px #FFF, 606px 943px #FFF, 713px 1813px #FFF, 1192px 1884px #FFF, 1387px 112px #FFF, 1272px 538px #FFF, 1415px 1266px #FFF, 611px 1684px #FFF, 1076px 14px #FFF, 1286px 1322px #FFF, 211px 1335px #FFF, 1084px 160px #FFF, 329px 471px #FFF, 1095px 1844px #FFF, 1720px 659px #FFF, 1654px 980px #FFF, 1910px 645px #FFF, 928px 728px #FFF, 255px 89px #FFF, 1429px 1146px #FFF, 1765px 659px #FFF, 1983px 646px #FFF, 1262px 579px #FFF, 185px 1426px #FFF, 783px 183px #FFF, 1612px 19px #FFF, 750px 1215px #FFF, 1705px 1311px #FFF, 1645px 760px #FFF, 468px 1454px #FFF, 1123px 755px #FFF, 1270px 719px #FFF, 237px 447px #FFF, 1198px 1255px #FFF, 1056px 894px #FFF, 1026px 1040px #FFF, 605px 1108px #FFF, 1189px 1557px #FFF, 1568px 1288px #FFF, 1892px 1805px #FFF, 1145px 907px #FFF, 1701px 725px #FFF, 153px 1631px #FFF, 965px 1019px #FFF, 823px 1941px #FFF, 354px 1681px #FFF, 1264px 92px #FFF, 309px 1854px #FFF, 1940px 230px #FFF, 3px 645px #FFF, 177px 1588px #FFF, 1823px 916px #FFF, 975px 1790px #FFF, 834px 1708px #FFF, 728px 412px #FFF, 369px 1687px #FFF, 950px 1940px #FFF, 1279px 972px #FFF, 267px 530px #FFF, 34px 1600px #FFF, 839px 654px #FFF, 156px 1373px #FFF, 1624px 1276px #FFF, 1010px 520px #FFF, 285px 519px #FFF, 921px 1187px #FFF, 1874px 1807px #FFF, 13px 531px #FFF, 721px 429px #FFF, 1885px 46px #FFF, 110px 1242px #FFF, 1236px 1543px #FFF, 1141px 563px #FFF, 1169px 172px #FFF, 1725px 1989px #FFF, 1365px 1891px #FFF, 325px 4px #FFF, 1979px 1025px #FFF, 1270px 1265px #FFF, 474px 1427px #FFF, 1282px 1446px #FFF, 1426px 1577px #FFF, 357px 1592px #FFF, 1132px 1337px #FFF, 246px 494px #FFF, 807px 542px #FFF, 629px 674px #FFF, 1960px 639px #FFF, 576px 182px #FFF, 235px 212px #FFF, 225px 488px #FFF, 1028px 219px #FFF, 1423px 780px #FFF, 268px 995px #FFF, 1081px 1826px #FFF, 1884px 251px #FFF, 956px 475px #FFF, 1045px 492px #FFF, 544px 702px #FFF, 888px 1090px #FFF, 1004px 1647px #FFF, 927px 1830px #FFF, 713px 1983px #FFF, 1519px 1761px #FFF, 435px 1986px #FFF, 311px 1247px #FFF, 235px 1746px #FFF, 941px 771px #FFF, 1814px 1369px #FFF, 250px 1453px #FFF, 27px 363px #FFF, 499px 689px #FFF, 567px 1879px #FFF, 693px 1349px #FFF, 1193px 222px #FFF, 1801px 1237px #FFF, 384px 1514px #FFF, 1138px 409px #FFF, 994px 424px #FFF, 1588px 426px #FFF, 452px 1409px #FFF, 574px 1676px #FFF, 240px 1490px #FFF, 275px 1165px #FFF, 1801px 79px #FFF, 1267px 47px #FFF, 1114px 918px #FFF;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 195px 59px #FFF, 589px 694px #FFF, 326px 1005px #FFF, 309px 288px #FFF, 718px 1054px #FFF, 432px 744px #FFF, 245px 1728px #FFF, 1907px 1491px #FFF, 1426px 993px #FFF, 110px 126px #FFF, 1767px 410px #FFF, 1542px 322px #FFF, 789px 1806px #FFF, 591px 658px #FFF, 1663px 713px #FFF, 800px 577px #FFF, 1253px 1836px #FFF, 143px 551px #FFF, 1849px 604px #FFF, 1326px 1860px #FFF, 969px 122px #FFF, 1162px 1461px #FFF, 744px 577px #FFF, 1470px 1090px #FFF, 126px 1865px #FFF, 1121px 1888px #FFF, 1304px 930px #FFF, 1563px 811px #FFF, 1995px 1386px #FFF, 1095px 661px #FFF, 1000px 438px #FFF, 405px 948px #FFF, 373px 1746px #FFF, 1434px 1211px #FFF, 79px 78px #FFF, 590px 1026px #FFF, 1613px 957px #FFF, 808px 1295px #FFF, 277px 427px #FFF, 481px 1709px #FFF, 1308px 298px #FFF, 292px 1157px #FFF, 999px 1905px #FFF, 1693px 1935px #FFF, 1112px 978px #FFF, 585px 501px #FFF, 484px 1392px #FFF, 1978px 997px #FFF, 1926px 1313px #FFF, 1310px 408px #FFF, 1465px 54px #FFF, 1391px 1935px #FFF, 1911px 210px #FFF, 546px 1600px #FFF, 1573px 1406px #FFF, 338px 1058px #FFF, 488px 1048px #FFF, 906px 1367px #FFF, 1290px 638px #FFF, 1626px 400px #FFF, 1455px 1254px #FFF, 674px 907px #FFF, 826px 1919px #FFF, 1828px 1070px #FFF, 249px 1896px #FFF, 1753px 280px #FFF, 973px 744px #FFF, 1692px 748px #FFF, 833px 408px #FFF, 328px 521px #FFF, 1774px 361px #FFF, 1893px 29px #FFF, 122px 130px #FFF, 969px 31px #FFF, 710px 567px #FFF, 877px 1599px #FFF, 1800px 1711px #FFF, 85px 884px #FFF, 1428px 1778px #FFF, 1716px 1647px #FFF, 1156px 994px #FFF, 1862px 498px #FFF, 1065px 99px #FFF, 712px 1616px #FFF, 93px 227px #FFF, 472px 841px #FFF, 1808px 1780px #FFF, 1121px 1499px #FFF, 1909px 1273px #FFF, 492px 266px #FFF, 642px 1px #FFF, 861px 931px #FFF, 774px 1459px #FFF, 1149px 1418px #FFF, 1905px 70px #FFF, 49px 1983px #FFF, 1580px 259px #FFF, 1549px 1026px #FFF, 1464px 1238px #FFF, 1479px 722px #FFF;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 195px 59px #FFF, 589px 694px #FFF, 326px 1005px #FFF, 309px 288px #FFF, 718px 1054px #FFF, 432px 744px #FFF, 245px 1728px #FFF, 1907px 1491px #FFF, 1426px 993px #FFF, 110px 126px #FFF, 1767px 410px #FFF, 1542px 322px #FFF, 789px 1806px #FFF, 591px 658px #FFF, 1663px 713px #FFF, 800px 577px #FFF, 1253px 1836px #FFF, 143px 551px #FFF, 1849px 604px #FFF, 1326px 1860px #FFF, 969px 122px #FFF, 1162px 1461px #FFF, 744px 577px #FFF, 1470px 1090px #FFF, 126px 1865px #FFF, 1121px 1888px #FFF, 1304px 930px #FFF, 1563px 811px #FFF, 1995px 1386px #FFF, 1095px 661px #FFF, 1000px 438px #FFF, 405px 948px #FFF, 373px 1746px #FFF, 1434px 1211px #FFF, 79px 78px #FFF, 590px 1026px #FFF, 1613px 957px #FFF, 808px 1295px #FFF, 277px 427px #FFF, 481px 1709px #FFF, 1308px 298px #FFF, 292px 1157px #FFF, 999px 1905px #FFF, 1693px 1935px #FFF, 1112px 978px #FFF, 585px 501px #FFF, 484px 1392px #FFF, 1978px 997px #FFF, 1926px 1313px #FFF, 1310px 408px #FFF, 1465px 54px #FFF, 1391px 1935px #FFF, 1911px 210px #FFF, 546px 1600px #FFF, 1573px 1406px #FFF, 338px 1058px #FFF, 488px 1048px #FFF, 906px 1367px #FFF, 1290px 638px #FFF, 1626px 400px #FFF, 1455px 1254px #FFF, 674px 907px #FFF, 826px 1919px #FFF, 1828px 1070px #FFF, 249px 1896px #FFF, 1753px 280px #FFF, 973px 744px #FFF, 1692px 748px #FFF, 833px 408px #FFF, 328px 521px #FFF, 1774px 361px #FFF, 1893px 29px #FFF, 122px 130px #FFF, 969px 31px #FFF, 710px 567px #FFF, 877px 1599px #FFF, 1800px 1711px #FFF, 85px 884px #FFF, 1428px 1778px #FFF, 1716px 1647px #FFF, 1156px 994px #FFF, 1862px 498px #FFF, 1065px 99px #FFF, 712px 1616px #FFF, 93px 227px #FFF, 472px 841px #FFF, 1808px 1780px #FFF, 1121px 1499px #FFF, 1909px 1273px #FFF, 492px 266px #FFF, 642px 1px #FFF, 861px 931px #FFF, 774px 1459px #FFF, 1149px 1418px #FFF, 1905px 70px #FFF, 49px 1983px #FFF, 1580px 259px #FFF, 1549px 1026px #FFF, 1464px 1238px #FFF, 1479px 722px #FFF;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}


header {

    z-index: 10;
    width: 100%;
    position: fixed;
}

.ul {
    background: url("https://cdn.hipwallpaper.com/i/18/89/HSjlXD.jpg");
    background-size: 100% !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li {
    float: left;
}

.lia {
    font-size: 24px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.desaus {
    background: url("https://cdn.hipwallpaper.com/i/18/89/HSjlXD.jpg");
    background-size: 100% !important;
    background-attachment: fixed !important;
    background-position: center top !important;
}

.sidenav {
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}


.lightbar {
    -webkit-box-shadow: 0 0 48px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 48px 1px rgba(255, 255, 255, 1);
    box-shadow: 0 0 48px 1px rgba(255, 255, 255, 1);
}

