.desaus {
    background: url("https://ak1.picdn.net/shutterstock/videos/32639521/thumb/1.jpg");
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-attachment: fixed !important;
    background-position: center top !important;

}

.sidenav {
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}


.lightbar {
    -webkit-box-shadow: 0 0 48px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 48px 1px rgba(255, 255, 255, 1);
    box-shadow: 0 0 48px 1px rgba(255, 255, 255, 1);
}

.test {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
