/*CSS*/
html {
    list-style: none;
}

@media only screen and (min-width: 800px) {
    body {
        overflow: hidden;
    }

}

@media only screen and (max-width: 800px) {
    body {
        overflow: scroll;
    }

    .fontsize {
        font-size: 32px !important;
    }
}

.desaus {
    background: url("https://ak1.picdn.net/shutterstock/videos/32639521/thumb/1.jpg");
    background-size: 100% !important;
    background-attachment: fixed !important;
    background-position: center top !important;
    color: white;
}

.sidenav {
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}


.lightbar {
    -webkit-box-shadow: 0 0 48px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 48px 1px rgba(255, 255, 255, 1);
    box-shadow: 0 0 48px 1px rgba(255, 255, 255, 1);
}

